<div id="contenedor">
    <div id="central">
        <div id="login">
            <div class="titulo">
                Bienvenidos
            </div>
            <form id="loginform" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <input type="text" name="usuario" formControlName="username" placeholder="Usuario" required>
                <mat-error *ngIf="loginForm.controls['username'].hasError('required')">
                  <strong>Requerido</strong>
                </mat-error>
                
                <input type="password" placeholder="Contraseña" formControlName="password" name="password" required>
                <mat-error *ngIf="loginForm.controls['password'].hasError('required')">
                  <strong>Requerido</strong>
                </mat-error>
                
                <button class="button" type="submit" title="Ingresar" name="Ingresar">Login</button>
            </form>
            <div class="pie-form">
                <a href="#">¿Perdiste tu contraseña?</a>
                <a href="registro.html">¿No tienes Cuenta? Registrate</a>
            </div>
        </div>
        <div class="inferior">
            <a href="index.html">Volver</a>
        </div>
    </div>
  </div>
